@charset "UTF-8";
@font-face {
  font-family: "Avenir LT Std";
  src: url("./fonts/AvenirLTStd-Roman.woff2") format("woff2"), url("./fonts/AvenirLTStd-Roman.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("./fonts/AvenirLTStd-Book.woff2") format("woff2"), url("./fonts/AvenirLTStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("./fonts/AvenirLTStd-Black.woff2") format("woff2"), url("./fonts/AvenirLTStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
.nav {
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  z-index: 10;
}
.nav .logo-container img {
  width: 180px;
  height: 80px;
}
.nav .fake-div {
  display: none;
}
@media (max-width: 768px) {
  .nav .fake-div {
    display: inline;
    display: initial;
  }
}
.nav .navbar-toggler {
  outline: none;
  display: none;
}
@media (max-width: 768px) {
  .nav .navbar-toggler {
    display: inline;
    display: initial;
  }
}
.nav .nav-slide {
  background: white;
  width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .nav .nav-slide {
    display: none;
  }
}
.nav .nav-slide ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}
.nav .nav-slide ul li {
  padding-top: 1rem;
  position: relative;
  font-family: "Avenir LT Std";
  font-weight: 400;
  font-style: normal;
}
.nav .nav-slide ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  padding: 0.25rem 0;
}
.nav .nav-slide ul li a .Navunderline {
  display: none;
  content: "<span></span>";
  height: 1.5px;
  width: 0;
  background: #f68d1f;
  border: 1px solid #f68d1f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav .nav-slide ul .active::after {
  content: "";
  height: 2px;
  width: 10%;
  border: 1px solid #f68d1f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav .nav-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
}
@media (max-width: 768px) {
  .nav .nav-links {
    display: none !important;
  }
}
.nav .nav-links ul {
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  margin: 0;
}
.nav .nav-links ul li {
  padding: 0 1rem;
  position: relative;
  font-family: "Avenir LT Std";
  font-weight: 400;
  font-style: normal;
}
.nav .nav-links ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 0.25rem 0;
}
.nav .nav-links ul li a .Navunderline {
  display: none;
  content: "<span></span>";
  height: 1.5px;
  width: 0;
  background: #f68d1f;
  border: 1px solid #f68d1f;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav .nav-links ul .active::after {
  content: "";
  height: 2px;
  width: 40%;
  border: 1px solid #f68d1f;
  position: absolute;
  bottom: 0;
  left: 1rem;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  max-height: 100vh;
  min-height: 400px;
}
.banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: rgba(85, 85, 85, 0.15);
}
.banner .overlay h1 {
  color: white;
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: italic;
}
.content {
  padding-right: none !important;
  -webkit-box-align: center;
          align-items: center;
}
.content .why-us {
  padding: 0;
}
.content .why-us h2 {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: normal;
  font-size: 1.9rem;
  margin-bottom: 1rem;
}
.content .why-us h3 {
  font-family: "Avenir LT Std";
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: #393939;
}
.content .why-us h3 b {
  font-size: 3rem;
  color: #393939;
}
.content .why-us p {
  font-size: 1.2rem;
  font-family: "Avenir LT Std";
  font-weight: normal;
  font-style: normal;
  color: #575757;
}
.content .side-img {
  padding: 0;
}
.content .side-img img {
  width: 150%;
}
@media (max-width: 768px) {
  .content .side-img img {
    width: 100%;
  }
}
.content .home-gallery img {
  width: 100%;
}
.content .more-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.content .more-container a {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: normal;
  text-decoration: none;
  color: #434343;
  position: relative;
}
.content .more-container .underline {
  content: "<span></span>";
  height: 3px;
  width: 40%;
  background: #f68d1f;
  border: 1px solid #f68d1f;
  position: absolute;
  bottom: 0;
  left: 0;
}
html {
  overflow-x: hidden;
}
footer {
  margin-top: 10rem;
  border-top: 1px solid #b4b4b4;
}
.footer {
  padding: 2rem 0;
}
.footer .footer-logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .footer .footer-item {
    width: 50%;
    padding: 1rem 0;
  }
}
.footer .footer-item p {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: normal;
  color: #575757;
}
.footer .footer-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .footer-item ul li {
  font-family: "Avenir LT Std";
  font-weight: normal;
  font-style: normal;
  color: #575757;
  padding: 0.2rem 0;
}
.gallery-banner {
  padding-bottom: 2rem;
}
.gallery-banner h2 {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: italic;
  color: black;
  letter-spacing: 0.1rem;
}
.gallery-banner h3 {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
  color: #393939;
}
.gallery-banner h3 b {
  font-size: 2.5rem;
}
.gallery-banner p {
  font-family: "Avenir LT Std";
  font-weight: 400;
  font-style: normal;
  color: #575757;
  letter-spacing: 0.15rem;
}
.gallery-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}
.gallery-overlay .text-container {
  text-align: center;
}
.gallery-overlay .text-container a {
  text-decoration: none;
  color: #f68d1f;
}
.gallery-overlay .text-container b {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.5rem;
  font-size: 1.2rem;
  padding: 0rem 2rem;
}
.gallery-overlay p {
  font-size: 2.5rem;
  border-top: 3px solid #f68d1f;
  line-height: 0;
  padding: 0rem 2rem;
}
.gallery-item {
  position: relative;
}
@media (max-width: 768px) {
  .gallery-item {
    width: 100%;
    padding: 1rem;
  }
}
.gallery-item img {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
@media (max-width: 768px) {
  .gallery-item img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
}
.gallery-text {
  padding: 1rem;
}
@media (max-width: 768px) {
  .gallery-text {
    padding-top: 0;
  }
}
.gallery-text p {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.gallery-text small {
  font-family: "Avenir LT Std";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
  padding: 0;
}
.gallery-view {
  border-top: 1px solid #c4c4c4;
  width: 100%;
}
.gallery-view .matrix {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
@media (max-width: 1200px) {
  .gallery-view .matrix {
    grid-template-rows: repeat(8, 60px);
  }
}
@media (max-width: 768px) {
  .gallery-view .matrix {
    display: inline-block;
  }
}
.gallery-view .matrix .position-1 {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 7;
}
.gallery-view .matrix .text-position-1 {
  grid-column-start: 13;
  grid-column-end: 18;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery-view .matrix .position-2 {
  grid-column-start: 14;
  grid-column-end: 21;
  grid-row-start: 3;
  grid-row-end: 12;
}
.gallery-view .matrix .text-position-2 {
  grid-column-start: 14;
  grid-column-end: 21;
  grid-row-start: 12;
  grid-row-end: 14;
}
.gallery-view .matrix .position-3 {
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 14;
}
.gallery-view .matrix .text-position-3 {
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 14;
  grid-row-end: 15;
}
.gallery-view .matrix-flipped {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(15, 1fr);
}
@media (max-width: 1200px) {
  .gallery-view .matrix-flipped {
    grid-template-rows: repeat(8, 60px);
  }
}
@media (max-width: 768px) {
  .gallery-view .matrix-flipped {
    display: inline-block;
    padding: 0;
  }
}
.gallery-view .matrix-flipped .position-1 {
  grid-column-start: 10;
  grid-column-end: 22;
  grid-row-start: 1;
  grid-row-end: 7;
}
.gallery-view .matrix-flipped .text-position-1 {
  grid-column-start: 10;
  grid-column-end: 22;
  grid-row-start: 7;
  grid-row-end: 8;
}
.gallery-view .matrix-flipped .position-2 {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 12;
}
.gallery-view .matrix-flipped .text-position-2 {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 12;
  grid-row-end: 14;
}
.gallery-view .matrix-flipped .position-3 {
  grid-column-start: 11;
  grid-column-end: 21;
  grid-row-start: 9;
  grid-row-end: 15;
}
.gallery-view .matrix-flipped .text-position-3 {
  grid-column-start: 11;
  grid-column-end: 21;
  grid-row-start: 15;
  grid-row-end: 16;
}
.package-nav .package-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
}
.package-nav .package-item.slick-active {
  border: 1px solid #f68d1f;
  border-radius: 1rem;
}
.package-nav .package-item.slick-active h3 {
  color: #f68d1f;
}
.package-nav .package-item h3 {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: italic;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #8b8b8b;
  height: 5rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  padding: 1rem 0;
}
.package-nav .package-item .package-price {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.package-nav .package-item .package-price li {
  font-family: "Avenir LT Std";
  font-weight: normal;
  font-style: normal;
  color: #575757;
  font-size: 1rem;
}
.package-nav .active {
  border: 1px solid #f68d1f;
  border-radius: 1rem;
}
.package-nav .active h3 {
  color: #f68d1f;
}
.package-nav .slick-dots {
  margin: 0 auto;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  left: 0;
}
.package-nav .slick-dots li button:before {
  font-size: 2rem;
  top: 10px;
  color: #5e5e5e;
}
.package-nav .slick-dots li button:hover:before {
  color: #5e5e5e;
  opacity: 0.25;
}
.package-nav .slick-dots li.slick-active button:before {
  color: #f68d1f;
  opacity: 1;
}
.package-name {
  margin-top: 5rem;
  display: none;
}
@media (max-width: 768px) {
  .package-name {
    display: block;
  }
}
.package-name .inner-container {
  border-bottom: 1px solid #cfcfcf;
  padding: 0.5rem 0;
}
.package-name .package-selection {
  padding-left: 0.5rem;
}
.package-name .package-selection b {
  font-weight: 900;
  font-size: 1.2rem;
  color: #f68d1f;
  line-height: 0;
}
@media (min-width: 768px) {
  .package-content {
    margin-top: 5rem;
  }
}
.package-content .package-group {
  display: none;
}
.package-content #package-1 {
  display: -webkit-box;
  display: flex;
}
.package-content .item {
  margin: 1rem 0;
}
.package-content .item h4 {
  font-family: "Avenir LT Std";
  font-weight: 900;
  font-style: normal;
  font-size: 1.1rem;
  color: #575757;
  letter-spacing: 0.05rem;
}
.package-content .item ul {
  list-style-type: none;
  padding: 0;
  padding-left: 0.5rem;
}
.package-content .item ul li {
  position: relative;
  font-family: "Avenir LT Std";
  font-weight: normal;
  font-style: normal;
  padding: 0.25rem 0;
  font-size: 1rem;
  color: #575757;
  padding-left: 2rem;
}
.package-content .item .demolition li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.package-content .item .plumbing li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.package-content .item .promo li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.package-content .item .misc li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.package-content .item .masonry li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.package-content .item .ceiling li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.package-content .item .carpentry li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.package-content .item .aluminium li::after {
  position: absolute;
  left: 0;
  top: 0.25rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}